	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #d4e5f2;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: #000000;
	}
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
	}

/* 2-column */

	.tbox1,.tbox2
	{
		width: 490px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

/* Header */

	#header
	{
		overflow: hidden;
		position: relative;
		padding: 5em 0em;
	}

/* Logo */

	#logo
	{
		position: absolute;
		top: 2.5em;
		left: 0;
	}
	
	#logo h1
	{
		background: #eeab41;
		padding: 0.20em 0.50em;
		letter-spacing: 0.10em;
		font-size: 2.5em;
		font-weight: 600;
	}
	
	#logo a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
	}

/* Menu */

	#menu
	{
		position: absolute;
		top: 3.5em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
		
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 0.10em;
		text-decoration: none;
		
		text-transform: uppercase;
		font-size: 0.90em;
		color: #204c48;
	}

/* Banner */

	#page
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #FFF;
	}

	#article
	{
		margin-bottom: 5em;
		padding-bottom: 4em;
		border-bottom: 1px solid rgba(0,0,0,0.08);
		text-align: center;
	}

	#article h2
	{
		padding-bottom: 0.50em;
		
		font-size: 2.6em;
		font-weight: 300;
	}

/* Featured */

	#articleBox h2
	{
		padding-bottom: 1em;
		text-transform: uppercase;
		font-size: 1.8em;
		font-weight: 300;
	}

/* Copyright  */

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.90em;
		color: rgba(0,0,0,0.8);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(0,0,0,1);
	}